table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin:5%;
  }
  
  th {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    width: 10%;

  }
  td{
     
text-align: center;  }
 tr{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;

 }
 .remove {
   
    border-radius: 4px;
    color: #ffffff;
    font-size: 20px;
    background: #b11616 ;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  .subtotal{
      display: flex;
      justify-content: flex-end;
      margin-right: 10%;
      margin-bottom: 10%;
  }
  .empty{
    display: flex;
    justify-content: center;
  }