.products{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container{
    margin: 5% 5% 0 5%;
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: auto  ;
    column-gap: 1%;
    row-gap: 1%;
    
    /* ;
    
    
    
     */
}
.subcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    height:100%;
text-align: center;
border-radius: 5px;
}
.productimage{
    
}
.title{
    margin-top: 1%;
    font-size: small;
    font-family: 'Poppins', sans-serif;
}
.price{
    font-family: 'Poppins', sans-serif;
    font-size: larger;

}
.pagination{
    margin-top: 5%;
}
.pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
  }
  
  .pagination :hover {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
  }
  
