*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navComponent{
    display: flex;
    flex-direction: column;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
}
a{
    display: inline;
    margin: 20px;
    
}
.categories{
    display: flex
}