*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
*:focus {
    outline: none;
}
.navComponent{
    background-color:#17161c ;
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
.navbar{
    margin: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    display: flex;
}
.navbar a{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-right: 50px;
    text-decoration: none;
    color: white;
    
}
.categories{
    display: flex;
    margin-left: 50px;
}
.categories a{
    text-decoration: none;
    box-shadow: inset 0 0 0 0 #b11616;
  color: white;
  margin: 0 2.75rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.categories a:hover{
    
    box-shadow: inset 500px 0 0 0 white;
  color: #b11616;
}
.logo img{
  width: 70%;
}
.searchBar{
    display: flex;
    width: max-content;
    height: max-content;
}
.searchBar button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .searchInput :active{
outline: none;
  }
  .links{
      display: flex;
  }
  .forcom{
      font-size: 0.6em;
  }