@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.subCat {
   margin-left:1% ;
   margin-right:1% ; 
 
    margin-top: 5%;
    border:3px solid black;
    border-radius: 5px;


    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    column-gap: 300px;
    row-gap: 100px;
}

.subs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.subs p {
    font-family: 'Poppins', sans-serif;
    font-size: x-large;
    margin-top: 20px;
    width: max-content;
    color: #b11616
}

